* {
  box-sizing: border-box;
}

/* CONTENEDOR GENERAL */
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* evita que se salga */
}

/* TEXTO */
.text-box-carousel {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

/* CARRUSEL */
.carousel-container {
  flex: 1;
  max-width: 600px;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #71787c84;
  position: relative;
}

/* IMÁGENES */
.carousel-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-image.active {
  opacity: 1;
}

/* ---------------------------- */
/*         RESPONSIVE           */
/* ---------------------------- */

/* Pantallas medianas (tablets, laptops chicos) */
@media (max-width: 1100px) {
  .carousel-wrapper {
    gap: 20px;
  }

  /* Evita que el total supere el ancho del viewport */
  .text-box-carousel,
  .carousel-container {
    max-width: 450px; 
  }
}

/* Pantallas chicas: tablet vertical + teléfonos */
@media (max-width: 900px) {

  .carousel-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .carousel-container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
  }

  .text-box-carousel {
    max-width: 90%;
    margin: 0 auto;
  }
}