

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap');


.gallery-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  background: linear-gradient(0deg,rgb(62, 59, 65) 9%, rgb(3, 2, 3) 47%, rgb(59, 56, 60) 52%, rgb(94, 94, 81) 94%);

  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);
  transition: transform 0.25s ease, background 0.25s ease;
  width: fit-content;
  display: inline-flex;
  align-self: center;
  
 border-color: #20201d;
  
   color: #f7f7f7;
 text-shadow:
   -1px -1px 0 #15120e,
    1px -1px 0 #15120e,
   -1px  1px 0 #15120e,
    1px  1px 0 #15120e;

}

.gallery-btn2{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
 margin-left: 0px;
  background: linear-gradient(0deg,rgb(159, 156, 156) 9%, rgb(112, 109, 102) 47%, rgb(186, 181, 172) 52%, rgb(253, 253, 253) 94%);
   transition: transform 0.25s ease, background 0.25s ease;
  color: rgb(255, 254, 252);
border-color: #afaeaa;
 text-shadow:
   -1px -1px 0 #625f5c,
    1px -1px 0 #625f5c,
   -1px  1px 0 #625f5c,
    1px  1px 0 #625f5c;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);
  transition: transform 0.25s ease, background 0.25s ease;
  width: fit-content;
  align-self: center;
  
}




/* Hover para desktop 






.gallery-btn2{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
 
 
 
 
 background: linear-gradient(#75e64c, #093d1b);
  color: white;
border: 1px solid black; 
 
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);
  transition: transform 0.25s ease, background 0.25s ease;
  width: fit-content;
  display: inline-flex;
  align-self: center;
  margin-top: 7%;
  
  margin-left: 25px;
}*/
.gallery-btn:hover {
  transform: translateY(-2px) scale(1.03);
background: linear-gradient(0deg,rgb(62, 59, 65) 9%, rgb(3, 2, 3) 47%, rgb(59, 56, 60) 52%, rgb(94, 94, 81) 94%);
  
 box-shadow: 0 12px 15px rgba(0, 0, 0, 0.45);
 
}

.gallery-btn2:hover {
  transform: translateY(-2px) scale(1.03);

  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.45);
 
 
 
 
  background: linear-gradient(0deg,rgb(207, 172, 120) 9%, rgb(137, 104, 42) 47%, rgb(217, 184, 114) 52%, rgba(255, 251, 217, 1) 94%);
  color: rgb(255, 254, 252);




 border-color: #bf9e5a;





   color: #f7f7f7;


 text-shadow:
   -1px -1px 0 #856b4c,
    1px -1px 0 #856b4c,
   -1px  1px 0 #856b4c,
    1px  1px 0 #856b4c;



}

.btnsl{
  
   display: flex;
  gap: 30px;
  margin-top: 2rem;
}






/* Click */
.gallery-btn:active {
  transform: scale(0.97);
}

/* Icono */
.camera-icon {
  width: 22px;
  height: 22px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}

/* ------------------------- */
/*      RESPONSIVE CSS       */
/* ------------------------- */

/* Tablets */
@media (max-width: 768px) {
  .gallery-btn {
    padding: 10px 16px;
    font-size: 0.95rem;
    gap: 8px;
  }

  .camera-icon {
    width: 20px;
    height: 20px;
  }
}



















































* {
  box-sizing: border-box;
}

/* CONTENEDOR GENERAL */
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* evita que se salga */
 margin-top: -40px;
 margin-bottom: -95px;

 

}

.text-box-carousel p {
 color: #79777d;
  font-weight: 400;
  

}

.text-box-carousel h1 {

  text-align: center;   /* CENTRA EL TÍTULO */
  width: 100%;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  font-size:xx-large;
  margin-left: 0%;
  
}

/* TEXTO */
.text-box-carousel {
  flex: 1;
  max-width: 700px;
  text-align: center;

margin-top: 0px;
display: flex;
  flex-direction: column;
  /*align-items: flex-start; */
align-items: center;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
   
  transform: translateX(-7%); 
}


/* CARRUSEL */
.carousel-container {
  flex: 1;
  max-width: 500px;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #71787c84;
  position: relative;
  margin-left: 7%;
  
  
}

/* IMÁGENES */
.carousel-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-image.active {
  opacity: 1;
}

/* ---------------------------- */
/*         RESPONSIVE           */
/* ---------------------------- */

/* Pantallas medianas (tablets, laptops chicos) */
@media (min-width: 901px) and (max-width: 1100px) {
  
  /* Evita que el total supere el ancho del viewport */
.text-box-carousel {
  
  
  transform: translateX(0%); 

}
  
.carousel-container{
  margin-right: 70px;
}
  
}

/* Pantallas chicas: tablet vertical + teléfonos */
@media (max-width: 900px) {



.text-box-carousel p {
  margin-right: 10px;
  margin-left: 10px;
}


.btnsl {
display: flex;
flex-direction: row;

justify-content: center;
align-items: center;
align-self: center;
align-content: center;
justify-self: center;
gap: 6px;

}


.gallery-btn,
.gallery-btn2 {
  margin: 0%;
  height: 40px;
}

 .text-box-carousel{
  
  transform: translateX(0px); 
 }

  .text-box-carousel h1 {

margin-top: 15%;
  }
  .carousel-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    
 
    
  }

  .carousel-container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    transform: translateX(1%); 
   
  }
  .carousel-container {

  margin-top: 0%;
}


  .carousel-wrapper {

margin-bottom: 50px;
}

}


@media (max-width: 700px) {


 .carousel-container {
    margin-top: 130px;


  }

}



/* Celulares */
@media (max-width: 399px)  {

  .camera-icon {
    width: 18px;
    height: 18px;
  }



  .carousel-container {
    transform: translateY(-125px)!important ;

  }


}


@media (min-width: 400px )  {

 .carousel-container {

  margin-top: 0%;
}


.carousel-wrapper {
padding-bottom: 140px;

}




}

@media (max-width: 600px ) {

  .carousel-wrapper {

margin-bottom: 10px;
}
}


@media (min-width: 600px ) and (max-width: 900px)  {
.carousel-wrapper {
margin-bottom: 50px;}


}



@media (max-width: 600px ) {

  .carousel-wrapper {

margin-bottom: 10px;
}
}


@media (min-width: 900px ) and (max-width: 1100px)  {

  .carousel-wrapper {

    margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  }
    


}