@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');





/* Fondo general */
.contact-section {
  width: 100%;
  padding: 60px 0;
  background-color: #111; /* gris oscuro */
  color: white;
}

/* Contenedor principal */
.contact-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  transform: translateY(-10%); 

  
}

/* Texto izquierda */
.contact-text h2 {
  font-size: 36px;
  font-weight: bold;
   font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  justify-self: center;
}

.contact-text p {
  font-size: 18px;
  color: #cccccc;
  margin-top: 10px;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  text-align:left
}

/* COLUMNA DERECHA */
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  
  
}
.contact-text{
  
margin-left: -10%;

}

/* Cada tarjeta de contacto */
.contact-item {
  
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #484747;
  padding: 16px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  
  transition: background-color 0.3s ease;
}

/* Hover */
.contact-item:hover {
  background-color: #333;
  
}

/* Íconos: más chicos y proporcionados */
.icon-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* Texto de cada enlace */
.contact-item span {
  font-size: 20px;
  font-weight: 400;
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .contact-container {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    margin-top: -45px;
    
  }
.contact-links{
  margin-top: -40px;

}
  .contact-item {
    justify-content: start;
    height: 50px;
    
    
  }
  .contact-section{
    margin-top: -25%; 
    padding-bottom: 210px;
  }

.contact-container {
  padding: 15px;
  height: 300px;
  
}

.contact-item span {
  font-size: 20px;
  font-weight: 600;
  font-size: 13px;
  margin: 0%;
  display: block;
}

}