.footer{
  background-color: #333;
  color: #fff;
  padding:0%;
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section h4 {
  margin-bottom:0px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #ffcc00;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffcc00;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
  padding-bottom: 0.5%;
}

/* Responsive */
@media(max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}